.profile__avatar-btn{
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  background-image: url(../../../images/pencel.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  z-index: 0;
  padding: 0;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  cursor: pointer;

}

@media screen and (max-width: 750px) {
  .profile__avatar-btn{
      margin-bottom: 26px;
  }
}